[Unit]
Description=Incrementally Update Backup to %I
RequiresMountsFor=/mnt/mirror
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "rsync -aAXHPv --one-file-system /* %I/backup-$(date +%Y-%%m-%d-%%H-%M-%S) --link-dest %I/$(ls -t %I | head -1)"
